@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
.scrollbar-custom::-webkit-scrollbar {
  height: 8px;
  /* Altura de la barra de desplazamiento horizontal */
  width: 8px;
  /* Ancho de la barra de desplazamiento vertical */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgb(121, 166, 238);
  /* Color de la parte deslizante */
  border-radius: 10px;
  /* Bordes redondeados */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Fondo de la pista de desplazamiento */
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-corner {
  background: transparent;
  /* Eliminando la esquina de la barra de desplazamiento */
}



@layer base {
  :root {
    --app-primary: 243 75% 59%;
    /* indigo-600 #4f46e5 */
    --app-primary-foreground: 0 0% 100%;
    --app-primary-hover: 245 73% 54%;
    /* indigo-700 #4338ca */
    --app-primary-light: 226 100% 94%;
    /* indigo-100 #e0e7ff */
    --app-primary-text: 245 70% 40%;
    /* indigo-800 #3730a3 */
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 243 75% 59%;
    --radius: 0.5rem;
  }
}



@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}